<%
gems = [{name: 'rails', version: '5.0.0.1'},
        {name: 'puma', version: '3.4.0'},
        {name: 'sass-rails', version: '5.0.6'},
        {name: 'uglifier', version: '3.0.0'},
        {name: 'coffee-rails', version: '4.2.1'},
        {name: 'jquery-rails', version: '4.1.1'},
        {name: 'turbolinks', version: '5.0.1'},
        {name: 'jbuilder', version: '2.4.1'},
        {name: 'bootstrap-sass', version: '3.3.6'},
        {name: 'sqlite3', version: '1.3.11'},
        {name: 'byebug', version: '9.0.0'},
        {name: 'web-console', version: '3.1.1'},
        {name: 'listen', version: '3.0.8'},
        {name: 'spring', version: '1.7.2'},
        {name: 'spring-watcher-listen', version: '2.0.0'},
        {name: 'rails-controller-testing', version: '0.1.1'},
        {name: 'minitest-reporters', version: '1.1.9'},
        {name: 'guard', version: '2.13.0'},
        {name: 'guard-minitest', version: '2.4.4'},
        {name: 'pg', version: '0.18.4'}]
%>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Gem Name</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <% gems.each do |gem| %>
    <tr>
      <td><%= gem[:name] %></td>
      <td><%= gem[:version] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
