<p id="notice"><%= notice %></p>

<h1>Budgets</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.year %></td>
        <td><%= budget.month %></td>
        <td><%= budget.notes %></td>
        <td><%= link_to 'Show', user_budget_path(id: budget) %></td>
        <td><%= link_to 'Edit', edit_user_budget_path(id: budget) %></td>
        <td><%= link_to 'Destroy', user_budget_path(id: budget), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget', new_user_budget_path %>
