<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @budget.user_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @budget.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @budget.month %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @budget.notes %>
</p>

<%= link_to 'Edit', edit_user_budget_path(id: @budget) %> |
<%= link_to 'Back', user_budgets_path %>
