<%= form_for(budget_category) do |f| %>
  <% if budget_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_category.errors.count, "error") %> prohibited this budget_category from being saved:</h2>

      <ul>
      <% budget_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budget_id %>
    <%= f.number_field :budget_id %>
  </div>

  <div class="field">
    <%= f.label :category_name %>
    <%= f.text_field :category_name %>
  </div>

  <div class="field">
    <%= f.label :category_amount %>
    <%= f.text_field :category_amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
