<p id="notice"><%= notice %></p>

<h1>Budget Categories</h1>

<table>
  <thead>
    <tr>
      <th>Budget</th>
      <th>Category name</th>
      <th>Category amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_categories.each do |budget_category| %>
      <tr>
        <td><%= budget_category.budget_id %></td>
        <td><%= budget_category.category_name %></td>
        <td><%= budget_category.category_amount %></td>
        <td><%= link_to 'Show', budget_category %></td>
        <td><%= link_to 'Edit', edit_budget_category_path(budget_category) %></td>
        <td><%= link_to 'Destroy', budget_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Category', new_budget_category_path %>
