<p id="notice"><%= notice %></p>

<p>
  <strong>Budget:</strong>
  <%= @budget_category.budget_id %>
</p>

<p>
  <strong>Category name:</strong>
  <%= @budget_category.category_name %>
</p>

<p>
  <strong>Category amount:</strong>
  <%= @budget_category.category_amount %>
</p>

<%= link_to 'Edit', edit_budget_category_path(@budget_category) %> |
<%= link_to 'Back', budget_categories_path %>
