<%= form_for(budget_entry) do |f| %>
  <% if budget_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_entry.errors.count, "error") %> prohibited this budget_entry from being saved:</h2>

      <ul>
      <% budget_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budget_category_id %>
    <%= f.number_field :budget_category_id %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
