<p id="notice"><%= notice %></p>

<h1>Budget Entries</h1>

<table>
  <thead>
    <tr>
      <th>Budget category</th>
      <th>Amount</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_entries.each do |budget_entry| %>
      <tr>
        <td><%= budget_entry.budget_category_id %></td>
        <td><%= budget_entry.amount %></td>
        <td><%= budget_entry.notes %></td>
        <td><%= link_to 'Show', budget_entry %></td>
        <td><%= link_to 'Edit', edit_budget_entry_path(budget_entry) %></td>
        <td><%= link_to 'Destroy', budget_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Entry', new_budget_entry_path %>
