<p id="notice"><%= notice %></p>

<p>
  <strong>Budget category:</strong>
  <%= @budget_entry.budget_category_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budget_entry.amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @budget_entry.notes %>
</p>

<%= link_to 'Edit', edit_budget_entry_path(@budget_entry) %> |
<%= link_to 'Back', budget_entries_path %>
