<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button> <a class="navbar-brand" href="#">Wolfie Budget</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'About', about_path %>
      </li>
      <li>
        <%= link_to 'Opensource', opensource_path %>
      </li>
      <% if logged_in? %>
        <li>
          <%= link_to 'Dashboard', current_user %>
        </li>
        <li>
          <%= link_to 'Logout', logout_path, method: "delete" %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', login_path %>
        </li>
        <li>
          <%= link_to 'Register', new_user_path %>
        </li>
      <% end %>
    </ul>
  </div>

</nav>
